BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
ColumnLimit: 75
